* {
  box-sizing: border-box;
}

body {
  width: 88%;
  max-width: 40em;
  margin: 1em auto;
  font: 16px/1.5 Arial, sans-serif; 
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

@media (prefers-reduced-motion: reduce) {

  body {
    scroll-behavior: auto;
  }

}

label {
  font-weight: bold;
}

hr {
  border: 0;
  border-top: 2px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  margin: 1em 0;
}

small {
  font-size: 80%;
}

.content {
  margin-top: 1em;
}

.content__area {
  width: 100%;
  min-height: 10em;
  padding: 1em;
  border: 1px solid #d3d3d3;
  font: inherit;
}