* {
  box-sizing: border-box;
}

body {
  width: 88%;
  max-width: 40em;
  margin: 1em auto;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

@media (prefers-reduced-motion: reduce) {

  body {
    scroll-behavior: auto;
  }

}

label {
  font-weight: bold;
}

.content {
  margin-top: 1em;
}

.content__area {
  width: 100%;
  min-height: 10em;
  padding: 1em;
  border: 1px solid #d3d3d3;
  font: inherit;
}